<footer class="footer">
  <small>
    The <a href="https://www.google.com">Google link</a>
  </small>
  <nav>
    <ul class="">
      <li><%= link_to "Home",  "/" %></li>
      <li><%= link_to "Contact",  "#" %></li>
      <li><%= link_to "About", "/static_pages/about" %></li>
    </ul>
  </nav>
</footer>
